# Sync code from Think-Round-Inc/ThinkLife. Keeps this repo's own history.
# Manual run: keeps this repo's README, SECURITY, LICENSE, CODE_OF_CONDUCT.
# Schedule run: full code sync (parent's versions of those files too).
name: Sync with upstream

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Sync parent code
        env:
          EXCLUDE_OWN_FILES: ${{ github.event_name == 'workflow_dispatch' && 'true' || 'false' }}
        run: |
          chmod +x sync-with-upstream.sh
          ./sync-with-upstream.sh
